body{
   overflow-y: scroll; /* Show vertical scrollbar */
   overflow-x: hidden;
 
}

.banner{
	width:110%;
    height:300px;
    position: sticky;
    top: 85px;
    background-color: #9e9e9e;
  
--webkit-background-size: cover;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   z-index: 0;
	
}

.wrap{
   width: 50%;
   height:70%;
   padding: 20px 100px;
   background-color: #eeb935;
   color: white;
   display: block;
   margin-left: 15%;
   margin-right: 16%;

}

.arlenlogo {
  width:13%;	
  padding: 85px 5px;
  display: block;
}

.wrap h1{
   font-size: 70px;
   color: black;
   margin-top: -193px;
}

.contact li {

  font-size: 20px;
  font-family: 'Saira Condensed', sans-serif;
  padding: 60px 530px;
  text-align: center;
  position: absolute;
 
    

}

.location-img{
	 width:40%;
  display: block;
  padding: 95px 500px;
}

.sendmessage
{
	width:100%;		
	color:black;
}

.sendmessage-round
{

  background-image: linear-gradient(180deg, #fbb034,  #9e9e9e, #fbd72b);
	width:50%;
	border-radius:5px;
	padding:20px;
	margin: 20px auto;
	font-family:arial;
	font-size:16px;
	line-height:10px;
	
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:5px;
  border:0px !important;
  outline-style:none;
  
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
  outline-style:none;
}

input[type=button]{
  width:100%;
  background-color: #Ecf3ee;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size:16px;
  font-weight:bold;
}

.grad {
  background-image:  #9e9e9e;
}
.mySlides 
{
	display:none
}

.img-chart
{
	width:100%
}

display-container
{
	width:100%;
}
