*{
  margin-top: -7.5px;
  margin-left: -.5px;
  padding: 0px;
}

body{
  text-align: center;
  overflow-x: hidden; /* Hide horizontal scrollbar */
 
}
.homebody
{
  width: 1450px;
  margin: 0 auto;
}
header{
  background-color: rgb(46, 25, 25);
  width:100%;
  height:100px;
  position: fixed;
  z-index: 12;
}
/*title*/
.product-title
{
width:30%;
float: left;
transform: translateY(35px);
font-family: 'Permanent Marker', cursive;
}
.product-title a{
  text-decoration: none;
  font-size: 50px;
  color: white;
  float:  left;
}

/*start of navigation*/
nav
{
float: right;
line-height:28px;
}

nav li{
  display: inline-block;
}
/*style on navigation links*/
nav a
{
width: 100px;
display: block;
color: #f2f2f2;
text-align: center;
margin: 0 5px;
text-decoration: none;
transform: translateY(50px);
}

/*hover for navigation*/
nav a:hover
{
  color: black;
  background: #ddd;
  box-shadow: 0 0 5px #ddd, 0 0 30px #ddd, 0 0 20px #ddd;
  border-radius: 30px; 
}

.logo-area
{
width:100%;
height:300px;
position: fixed;
top: 85px;
background-color: #9e9e9e;
background-image: url('Products & Others/Logo Banner Type.png');
--webkit-background-size: cover;
background-repeat: no-repeat;
background-size: contain;
background-position: center center;
z-index: 0;
}



/*Navbar changes every page*/
.homepagelink{
  font-size: 30px;
  background: #ddd;
  border-radius: 30px;
  transform: translateY(55px);
  padding: 10px 50px 7px;
}

.productspage {
  font-size: 30px;
  background: #ddd;
  border-radius: 30px;
  transform: translateY(55px);
  padding: 12px 50px 7px;
}

.aboutpage {
  font-size: 30px;
  background: #ddd;
  border-radius: 30px;
  transform: translateY(55px);
  padding: 12px 50px 7px;
}

.contactpage{
font-size: 30px;
  background: #ddd;
  border-radius: 30px;
  transform: translateY(55px);
  padding: 12px 50px 7px;
}

.infoarea{
  width: 100%;
  position: fixed;
  top: 370px;
  height:250px;
  background: #9e9e9e;
  z-index: 0;

}

.infoarea p{
  padding: 2% 0;
  line-height: 30px;
  font-size: 55px;
  font-family: 'Saira Condensed', sans-serif;
 

}

.shopinfo {
  width: 100%;
  position: absolute;
  top:500px;
  height: 1000px;
  background: white;
  padding-top: 100px;
  display: flex;
  z-index: 0;
  
 

}

.firstinfo h1{
   float:right;
   text-align:right center;
   font-size: 50px; 
   font-family: 'Saira Condensed', sans-serif, bold; 
   padding-top: 10px;
   width: 130%; 
   top: 0;
   position:absolute;
  
   
}

.firstinfo h2{
   float: left ;
   text-align: left center;
   font-size: 40px; 
   font-family: 'Saira Condensed', sans-serif; 
   width: 350px;
   position: sticky;
   margin: 0 auto;
   padding: 40px 10px;
   text-decoration: underline;
}

.firstinfo p{
   padding-top: 50px;
   float: left;
   width: 450px;
   font-size: 25px;
   font-family: 'Saira Condensed', sans-serif;
}

.shopinfoimg{
    float: left;
    margin-left: 100px;
    margin-right: 75px;
    cursor: pointer;
    height: 400px;
    width: 400px;
    vertical-align: middle;

}

.secondinfo p{
   padding-top: 50px;
   float: left;
   width: 450px;
   font-size: 25px;
   font-family: 'Saira Condensed', sans-serif;
}

.customerinfo p{ 
   text-align: center;
   margin-top:-185px;
   margin-left: 40%;
   margin-right: 40%;
  

}

.foot-bottom p{ 
   text-align: center;
   margin-top:100px;
   margin-left: 40%;
   margin-right: 40%;
   
  

}


footer{
        width:99%;
		height:300px;
		background-color:black;
		margin: -5px;
		font-family: "Open Sans";
		color: white;
		font-size:14px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.footer-content h2{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;  
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}



.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a i{
  font-size: 30px;
  transition:color .4s ease;
}


.socials a i:hover{
  color: aqua;
}

.footer-bottom{
  background: black;
  width: 100vw;
  padding:0px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity:.4;
  font-weight: 200;
  color: white;
}